<%= form_for user, url: update_credit_card_path, html: {method: "patch"} do |f| %>
  <div class="form-group">
    <%= f.label :credit_card, "Credit card number" %>
    <%= f.text_field :credit_card, class: 'form-control' %>
  </div>
  <div class="action_container">
    <%= f.submit "Update Credit Card Information", class: "btn btn-primary" %>
  </div>
<% end %>