<h1 class="display-1">Code</h1>
<p>In this page, you will show Card with the following infomation</p>
<ul>
  <li>QR code image of user</li>
  <li>User avatar</li>
  <li>User personal information</li>
  <li>...</li>
</ul>