
<div class="card">
  <div class="card-block">
  	<%#= @qr %>
  	<img src=<%="https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=#{@user.email + @user.created_at.to_s}&choe=UTF-8"%> alt="QR code">
  </div>
  <div class="card-block">
    <h4 class="card-title"> <%= @user.name %> </h4>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @user.email %> </li>
    <li class="list-group-item"><strong>Member since: </strong> <%= @user.created_at.strftime("%B %d, %Y") %> </li>
    <li class="list-group-item">What else goes here</li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
