<h1 class="display-1">Nearby Stations</h1>
<p>In this page, you will show</p>
<ul>
  <li>Map</li>
  <li>Ask users for permission to have their current location</li>
  <li>Direction</li>
  <li>Instruction on what is needed when arriving</li>
  <li>...</li>
</ul>