<h1>I'm in finally</h1>
<p>Check top-right conner, you will see 2 dropdown controls as below:</p>
<hr>
<p>Menu</p>
<ul>
  <li>Code: go to Code page</li>
  <li>Nearby Stations: go to Nearby Stations page</li>
  <li>Vouchers: go to Vouchers page</li>
  <li>Personal: go to Personal page</li>
</ul>
<hr>
<p>User</p>
<ul>
  <li>Account settings: upload avatar image, change password....</li>
  <li>Notifications: we will figure out what to do with it</li>
  <li>Log out: you know what it does</li>
</ul>