<h1>Home#index</h1>
<div id="map-canvas" style="width: 400px; height: 400px">
	<div id= "map">

	</div>
</div>
<%= javascript_include_tag "geolocation" %>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyASJ-Ja54wHh18bq14iOuyWNdMxOta_QRc&callback=showMap"></script>

