<h1>Home#index</h1>
<div id="map-canvas" style="width: 400px; height: 400px">
	<div id= "map">

	</div>
</div>

<form id="calculate-route" name="calculate-route" action="#" method="get" >
  <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
  <a class = "btn btn-primary" id="from-link" href="#">Start Riding</a>
  <br />

  <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
  <a class = "btn btn-secondary" id="to-link" href="#">Finish Riding</a>
  <br />

  <input type="submit" value="See My AirCredit">
</form>
      <br>
      Very simple HTML sample for using the Google Distance Matrix API.<br><br>
      <table border="0">
         <tr>
            <td>Starting Location</td>
            <td><input id="orig" type="text" style="width:35em"></td>
         </tr>
         <tr>
            <td>Last Location</td>
            <td><input id="dest" type="text" style="width:35em"></td>
         </tr>
         <tr>
            <td>Earned AirCredit Points</td>
            <td><input id="dist" type="text" style="width:35em"></td>
         </tr>
      </table>



