<h1>Add new Bicycle</h1>
<%= link_to 'Back', bicycles_path %>
<p>I will create new bicycle without assigining it to any station.</p>
<p>Oh no, it's impossible, how could we represent state "Somewhere on earth" for our bicycle?</p>
<%= render 'form', bicycle: @bicycle %>