<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Scrolling Nav - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <!--     <link href="/assets/stylesheets/scrolling-nav/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="/assets/stylesheets/scrolling-nav/scrolling-nav.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <section id="intro" class="intro-section">
      <div class="container">
        <!-- <div class="row">
          <div class="col-lg-12">
            <h1>Change The World</br> One Cycle at a Time</h1>
          <a class="btn btn-default page-scroll" href="#about">Continue</a>
        </div>
      </div> -->
        <!-- logo row -->
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-2">
            <img src="/assets/airbike_logo_white_type.svg" alt="AirBike Logo">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
        </div>
        <!-- slogan row -->
        <div id="slogan_row" class="row">
          <div class="col-xs-5"></div>
          <div class="col-xs-5 change-the-world">Change the world</div>
          <div class="col-xs-2"></div>
        </div>
        <!-- line row -->
        <div class="row">
          <div class="col-xs-5"></div>
          <div class="col-xs-5">
            <hr class="line">
          </div>
          <div class="col-xs-2"></div>
        </div>
        <!-- some texts row -->
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-4 new_cycler">3,205,943 new cyclers</div>
          <div class="col-xs-2"></div>
          <div class="col-xs-3 one-cycle-at-a-time">one cycle at a time</div>
          <div class="col-xs-2"></div>
        </div>
        <!-- down arrow -->
        <a href="#about" class="page-scroll">
          <img id="down_arrow" src="/assets/down_arrow.svg" alt="Down Arrow">
        </a>
      </div>
    </section>
  </div>
  <!-- About Section -->
  <section id="about" class="about-section">
    <!-- <div class="container">
    </div> -->
    <div class="row">
      <div class="col-xs-4 ">
        <div></div>
        <img id="motobike" src="/assets/motorbike.jpg" alt="motorbike">
      </div>
      <div class="col-xs-4 purpose">
        <p class="change-the-world">Purpose</p>
        <hr class="line2">
        <p class="purpose_description">Our mission is to bring clean air to Vietnam. There are many factors to air pollution but the obvious one is the high volume of motobicycles. There are over 7.4 millions motorcyles in Hanoi. Working together, we can create a better environment not for ourselves but for the future generations.</p>
      </div>
      <div class="col-xs-4">
        <img id="bicycle" src="/assets/bike.jpg" alt="bicycle">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5"></div>
      <div class="col-xs-3 ">
        <a id="down_link" href="#contact" class="page-scroll change-the-world">How To Start</a>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </section>
  <!-- Contact Section -->
  <section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-12">
          <h1>Reward yourself</h1>
          <p>Use your AirCredit to buy food, clothes vouchers and much more.</p>
          <p>You earn this, you deserve it, enjoy it.</p>
          <p>Are you ready to earn your reward by riding with us? What are you waiting for? Click below button</p>
          <a class="btn btn-default page-scroll" href="<%= new_user_path %>">Sign Up</a>
        </div> -->
        <div class="col-xs-4">
          <img class="step_icon" src="/assets/bicycle_icon_select.png" alt="bicycle">
        </div>
        <div class="col-xs-4">
          <img class="step_icon" src="/assets/aircredit_icon_select.png" alt="bicycle">
        </div>
        <div class="col-xs-4">
          <img class="step_icon" src="/assets/reward_icon_select.png" alt="bicycle">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 grab-an-airBike">Grab an AirBike</div>
        <div class="col-xs-4 grab-an-airBike">Earn AirCredit</div>
        <div class="col-xs-4 grab-an-airBike">Reward Yourself</div>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <p class="how_to_description">Visit one of our stations and we’ll help you get started with your airbike. Make sure you have a credit card for security purposes</p>
        </div>
        <div class="col-xs-4"></div>
      </div>
      <div id="signup_row" class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <a class="signup" href="<%= new_user_path %>">Sign Up</a>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </div>
  </section>
  <!-- jQuery -->
  <script src="/assets/javascripts/scrolling-nav/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/assets/javascripts/scrolling-nav/bootstrap.min.js"></script>
  <!-- Scrolling Nav JavaScript -->
  <script src="/assets/javascripts/scrolling-nav/jquery.easing.min.js"></script>
  <script src="/assets/javascripts/scrolling-nav/scrolling-nav.js"></script>
</body>
</html>