<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Scrolling Nav - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
<!--     <link href="/assets/stylesheets/scrolling-nav/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="/assets/stylesheets/scrolling-nav/scrolling-nav.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <section id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <h1>Change The World</br> One Cycle at a Time</h1>
              <p>You have no idea what is AirBike, how it works, so I'm here to help you.</p>
              <p>We are a kool oganization run by kool team. We would like to do something to improve environment in Saigon, to bring back fresh air to this lovely city.</p>
              <p>we encourage you use environment friendly mean like bicycle to help reduce air pollution.</p>
              <p>And it just takes 3 easy steps.</p>
              <a class="btn btn-default page-scroll" href="#about">Grab a Bicycle</a>
          </div>
        </div>
      </div>
    </section>
    </div>
    <!-- About Section -->
    <section id="about" class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1>Grab a Bicycle</h1>
            <p>With or without a registered account, you are able to rent a bicyle.</p>
            <p>However, I would like to suggest you to regester an account, in order to earn your AirCredit.</p>
            <a class="btn btn-default page-scroll" href="#services">Earn AirCredit</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 num-style">
            <h2><span>1</span></h2>
          </div>
          <div class="col-lg-4 num-style">
            <h2><span>2</span></h2>
          </div>
          <div class="col-lg-4 num-stlye">
            <h2><span>3</span></h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section -->
    <section id="services" class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Step 2: Earn AirCredit</h1>
            <p>For each mile riding on our bicycle, you earn 1 AirCredit point.</p>
            <p>The more you riding the more AirCredit you earning.</p>
            <p>With our AirCredit, you can use them to buy food, clothes vouchers and much more.</p>
            <a class="btn btn-default page-scroll" href="#contact">Reward yourself</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Step 3: Reward yourself</h1>
            <p>Use your AirCredit to buy food, clothes vouchers and much more.</p>
            <p>You earn this, you deserve it, enjoy it.</p>
            <p>Are you ready to earn your reward by riding with us? What are you waiting for? Click below button</p>
            <a class="btn btn-default page-scroll" href="<%= new_user_path %>">Sign Up</a>
          </div>
        </div>
      </div>
    </section>
    <!-- jQuery -->
    <script src="/assets/javascripts/scrolling-nav/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/javascripts/scrolling-nav/bootstrap.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="/assets/javascripts/scrolling-nav/jquery.easing.min.js"></script>
    <script src="/assets/javascripts/scrolling-nav/scrolling-nav.js"></script>
  </body>
</html>