* {
    font-family: 'Roboto';
  }

.center{
	text-align: center;
}

.title{
	 background-color: white;
   padding-top: 14px;
   padding-bottom: 6px;
   text-align: center;
   border-radius: 0px 0px 3px 3px;
   margin-bottom: 20px;
   border-top-width: 4px;
   border-top-style: solid;
   border-color: #12d1dc;
}

.alert{

}
.card-header {
	background-color: #fff;
}
.navbar.navbar-light.bg-faded a {
	font-weight: 400;
	letter-spacing: .5px;
	color: #252525;
}
.resize {
	width: 90%;
  margin-top: 40px;
}

.t-left{
	text-align: left;
}

.voucher-wrapper{
	list-style: none;
	padding: 60px 30px 0px;
}

.voucher-wrapper li{
	font-family: "Raleway";
}
.card{
	margin-bottom: 50px;
}
.card-title-voucher{
  margin-top: 20%;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
}

.card-title{
  margin-top: 0px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
}
.navbar.navbar-light.bg-faded a:hover {
	color: #fff;
}

.btn-primary{
	background: #00c9d1;
	margin-bottom: 50px;
	margin-top: 40px;
}

body{
	background-color: #f8f8f8;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.card {
	border-color: #f3f1f1;
	border-style: solid;
  box-shadow: 20px 20px 40px 0px #a9a9a9;
}

.navbar {
	background-color: #12d1dc;
	margin-bottom: 40px;
	border-radius: 0;
}

a{
	color: #787878;
}