* {
    font-family: 'Roboto';
  }

.center{
	text-align: center;
}

.title{
	 background-color: white;
   padding-top: 14px;
   padding-bottom: 6px;
   text-align: center;
   border-radius: 0px 0px 3px 3px;
   margin-bottom: 20px;
   border-top-width: 4px;
   border-top-style: solid;
   border-color: #12d1dc;
}

.alert{
	margin-top: -40px;
}
.card-header {
	background-color: #fff;
}
.navbar.navbar-light.bg-faded a {
	font-weight: 400;
	letter-spacing: .5px;
	color: #252525;
}
.resize {
	width: 90%;
  margin-top: 40px;
}

.t-left{
	text-align: left;
}

.navbar.navbar-light.bg-faded a:hover {
	color: #fff;
}


body{
	background-color: #f8f8f8;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.card {
	border-color: #f3f1f1;
	border-style: solid;
	box-shadow: 4px 83px 42px -83px #0a242f;
}

.navbar {
	background-color: #12d1dc;
	margin-bottom: 40px;
	border-radius: 0;
}

a{
	color: #787878;
}