* {
    font-family: 'Roboto';
  }

body{
	background-color: #f8f8f8;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.card {
	border-style: none;
	box-shadow: 4px 83px 42px -83px #0a242f;
}

.navbar {
	background-color: #27DDC7;
}

a{
	color: #ffffff;
}