<h1>Vouchers</h1>

<% if current_user %>
  <p>You currently have <%= current_user.air_credit %> AirCredit</p>
<% else %>
  <p>You currently have 0 AirCredit. <%= link_to "Learn how to get AirCredit to get free vouchers!", root_path%> </p>
<% end %>
<%= render partial: "vouchers", locals: {voucher: @vouchers }%>