<strong>Step 1</strong>
<p>
You will need to sign up an account to keep a history of your AirCredits!
</p>
<strong>Step 2</strong>
<p>
Once you have signed up, take your unique QR code to our security guard at one of our stations for security purposes. 
</p>
<strong>Step 3</strong>
<p>
Enjoy riding our AirBikes for two hours! Every 30 minutes after 2 hours will cost 1000 dong.
</p>
<%= link_to "Back To Vouchers", vouchers_path, class: 'btn btn-primary' %>